* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: black;
}



tr, td {
    border: 4px outset white;
    border-collapse: collapse;
    background-color: white;
}

td:hover {
    border: 4px inset white;
}

a {
    color: blue !important;
    background-color: white;
    text-decoration: none;
}

a:hover {
    color: cyan;
}

table {
    border: 1px solid white;
}

h2 {
    background-color: gray;
}

.kec {
    background-color: rgb(36, 36, 36);
    border: 1px solid white;
}