* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: black;
}



tr, td {
    border: 4px outset white;
    border-collapse: collapse;
    background-color: white;
}

td:hover {
    border: 4px inset white;
}

a {
    color: blue !important;
    background-color: white;
    text-decoration: none;
}

a:hover {
    color: cyan;
}

table {
    border: 1px solid white;
}

h2 {
    background-color: gray;
    margin: 0 0 0 0;
    border-bottom: 4px ridge white;
}

.kec {
    background-color: rgb(36, 36, 36);
    border: 4px ridge white;
}

p {
    padding-left: 6px;
    padding-right: 6px;
}


/* WIDTH */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: #c0c0c0;
  border-left: 1px solid #808080;
}

/* THUMB */
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 2px solid #808080;
  box-shadow:
    inset 1px 1px 0 #ffffff,
    inset -1px -1px 0 #404040;
}

/* THUMB HOVER */
::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0;
}

/* BUTTONS (ARROWS) */
::-webkit-scrollbar-button {
  background: #c0c0c0;
  border: 2px solid #808080;
  box-shadow:
    inset 1px 1px 0 #ffffff,
    inset -1px -1px 0 #404040;
  width: 16px;
  height: 16px;
}

/* BUTTON HOVER */
::-webkit-scrollbar-button:hover {
  background: #b0b0b0;
}

/* CORNER */
::-webkit-scrollbar-corner {
  background: #c0c0c0;
}
